body{
  background: white;
}
/* leva em conta primeiro o (#{} no css)(id{} no html)
depois (.{} no css) (class{} no html)
#unico-1{
  color: green;
}
.unico-2{
  color: yellow;
}
p{
  color: blue;
}
*/
header{
  border: 1px solid red;

  padding: 60px;
}
h1{
  border: 1px solid green;

  height: 60px;
}
p{
  margin: 20px;

  border: 1px solid yellow;
}
span{
  border: 1px solid blue;
}
/*header, h1, p e algumas outras tags são do tipo block, ou seja quebra a linha de uma tag para outra, ja a tag span não, ela é do tipo inline, ou seja, cintinua na mesma linha, conseguimos alterar o seu tipo atraves do display*/
/* temos que visualizar o css como se fosse uma caixa, cada tag vai ficando uma dentro da outra onde temos a parte de cima "top" a parte de baixo "bottom", esquerda e direta ou seja, podemos colocar o nosso elemento em qualquer posição dependendo do comando a extrema esquerda, direita, em cima ou em baixo, fora isso temos alguns outros elementos, a "margin" que é a margem ela fica em volta da borda, depois temos o "border" nela conseguimos colocar o tanto que eu quero q o meu conteudo fique em distancia da borda, temos o padding que é o preencimento dessa caixa, preenchimento interno e o espaçamento que é o preenchimento externo, conseguimos também colocar altura na caixa com o height ou largura com o width*/
/*body{
  background-image: url(./assets/bg-mobile.jpg); (coloca a imagem que eu quero de fundo, basta localiza-la)
  background-repeat: no-repeat; (função para repetir ou não a imagem caso ela não cubra tudo)
  background-position:top center; (função para realocar a imagem na posição que eu quero. O top pega o topo da imagem e coloca no topo do meu site e o center alinha no centro em relação ao eixo x)
  background-size: cover; (Função cover para preencher a imagem na tela toda independente do tamanho)
  contain (ele contém dentro do body ou seja, se o body tiber uma dimensão estabelecida ele fica dentro dessa dimensão)
  body{
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position:top center;
  background-size: cover;
  
  atalho: background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
  Elementos inline não se pode colocar o margin auto (margin automática)
  ul li a:hover (aplica as coisa quando eu passar o mouse em cima)
}
}